:root {
	--yellow: #f9c934;
	--blue: #355fa0;
	--dark-blue: #1e3a68;
	--green: #0eae03;
	--red: #b11010;
	--white: #fff;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--yellow);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	max-width: 225px;
	margin-top: 15px;
}

.rounds {
	padding: 5%;
}

.pokeball {
	max-width: 225px;
	margin-block: 30px;
}

.score {
	color: var(--blue);
	font-size: 2rem;
	transition-duration: 0.4s;
}

.sprite {
	width: min(200px, 70%);
	transition-duration: 0.4s;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	background-color: var(--blue);
	color: var(--white);
	font-size: 1.5rem;
	padding-block: 1.2vh;
	border-style: none;
	border-radius: 10px;
	margin: 0px 10px 10px 10px;
	width: max(175px, 70%);
	cursor: pointer;
	transition-duration: 0.2s;
}

.next-button {
	background-color: var(--blue);
	color: var(--white);
	font-size: 1.5rem;
	padding-block: 1.2vh;
	border-style: none;
	border-radius: 10px;
	margin: 0px 10px 10px 10px;
	width: 40%;
	cursor: pointer;
	transition-duration: 0.2s;
}

.button:active {
	background-color: var(--dark-blue);
}

.incorrect {
	background-color: var(--red);
}
.correct {
	background-color: var(--green);
}

.hidden {
	display: none;
}

@media (min-width: 425px) {
	/* here goes the small tablet style */
	.buttons {
		flex-flow: row wrap;
	}
	.score {
		font-size: 2rem;
		position: absolute;
		top: 15%;
		right: 10%;
	}
	/* .button {
		font-size: 1.8rem;
	} */
}

@media (min-width: 550px) {
	/* here goes the big tablet style */
	.sprite {
		width: 200px;
	}
	.buttons {
		flex-flow: row wrap;
	}
	.button {
		width: 40%;
		font-size: 2.5rem;
		margin: 10px;
		padding-block: 5px;
	}
	.score{
		font-size: 3rem;
	}
}

@media (min-width: 1024px) {
	/* here goes the computer style */
	.sprite {
		width: 250px;
	}

}
